#infinite{
    display: flex;
    justify-content: center;
    align-items: center;
}

img {
    max-height: 100px;
    max-width: 100px;
}

body {
    margin: 0;
    padding: 0;
    overflow: hidden;
}

section {
    position: absolute;
    width: 100%;
    height:  100%;
    background: radial-gradient(#3B8, #000);
}

.set {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 42px;
    left: 0;
}

.set div {
    position: absolute;
    display: block;
}

.set div:nth-child(1) {
    left: 20%;
    animation: animate 15s linear infinite;
    animation-delay: -7s;
}
.set div:nth-child(2) {
    left: 50%;
    animation: animate 20s linear infinite;
    animation-delay: -5s;
}
.set div:nth-child(3) {
    left: 70%;
    animation: animate 25s linear infinite;
}
.set div:nth-child(4) {
    left: 0%;
    animation: animate 15s linear infinite;
    animation-delay: -7s;
}
.set div:nth-child(5) {
    left: 85%;
    animation: animate 18s linear infinite;
    animation-delay: -5s;
}
.set div:nth-child(6) {
    left: 30%;
    animation: animate 20s linear infinite;
    
}
.set div:nth-child(7) {
    left: 0%;
    animation: animate 25s linear infinite;
    animation-delay: -7s;
}
.set div:nth-child(8) {
    left: 15%;
    animation: animate 15s linear infinite;
    animation-delay: -5s;
}
.set div:nth-child(9) {
    left: 10%;
    animation: animate 20s linear infinite;
}
.set div:nth-child(10) {
    left: 45%;
    animation: animate 18s linear infinite;
    animation-delay: -7s;
}
.set div:nth-child(11) {
    left: 60%;
    animation: animate 15s linear infinite;
    animation-delay: -5s;
}
.set div:nth-child(12) {
    left: 90%;
    animation: animate 20s linear infinite;
}
.set div:nth-child(13) {
    left: 20%;
    animation: animate 18s linear infinite;
    animation-delay: -7s;
}

@keyframes animate {
    0% 
    {
        opacity: 0;
        top: 2%
    }
    10% 
    {
        opacity: 1;
    }
    20% 
    {
        transform: translateX(-20px) rotate(45deg)
    }
    40% 
    {
        transform: translateX(-20px) rotate(90deg)
    }
    60% 
    {
        transform: translateX(-20px) rotate(135deg)
    }
    80% 
    {
        transform: translateX(-20px) rotate(180deg)
    }
    100%
    {
        top: 110%
    }
}

.set2 {
    position: relative;
    transform: scale(2) rotateX(180deg);
    filter: blur(2px);
    z-index: -100;
}
.set3 {
    transform: scale(.8) rotateX(180deg);
    filter: blur(4px);
}

h2{
    position: absolute;
    width: 100%;
    color: #fff;
    z-index: 100;
}

.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 300;
}

.fab {
  font-size: 30px;
  width: 50px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
  color: black;
}

.fab:hover {
    opacity: 0.7;
}

.fa-linkedin{
    color: #007bb5;
}

li{
    list-style-type: none;
}

.dropbtn {
  background-color: #4CAF50;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 200;
}

.dropdown:hover .dropdown-content {
    display: block;
}
