#p5Canvas {
    padding: 0;
    margin: auto;
    display: block;
    width: 800px;
}

body {
  min-height: 100vh;
}

body {
  display: flex;

  /* This centers our sketch horizontally. */
  justify-content: center;

  /* This centers our sketch vertically. */
  align-items: center;
}